<ion-header>
  <ion-toolbar>
    <ion-title>City</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p id="title">Around the world</p>
  <ion-list>
    <ion-card  *ngFor="let town of towns" (click)="getForecast(town)">
      <ion-row>
        <ion-col>
          <p>{{town.city}}</p>
          <p>{{town.condition}}</p>
        </ion-col>
        <ion-col>
          <p>{{town.temp}}°</p>
        </ion-col>
        <ion-col>
          <ion-icon name="sunny-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
</ion-content>